main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

section img {
    max-width: 350px;
}